allow hal_keymaster_default kernel:system module_request;
allow hal_keymaster_default vfat:dir { search read };
allow hal_keymaster_default vfat:file { open read getattr };
