allow init { domain -lmkd -crash_dump }:process noatsecure;
allow init debugfs:file write;
allow init sysfs:lnk_file setattr;
allow init exfat:dir search;
allow init shell_exec:file execute_no_trans;
allow init sysfs:file { open write setattr };
allow init sysfs_graphics:file setattr;
allow init sysfs_vibeamp:file setattr;
allow init system_file:file execute_no_trans;
allow init self:socket { create ioctl };
allow init smd_device:chr_file { write ioctl };
allow init proc:file { write open };
allow init sysfs_devices_system_cpu:file write;
allow init sysfs_msm_power:file write;
allow init qmuxd_socket:sock_file write;
allow init qmuxd:unix_stream_socket connectto;
allow init sysfs_msm_power:file open;
allow init sysfs_lowmemorykiller:file { write open };
allow init sysfs_process_reclaim:file { write open };
allow init sysfs_thermal:file write;
allow init sysfs_socinfo:file write;
allow init system_data_file:chr_file getattr;
