allow init clatd_exec:file getattr;
allow init dex2oat_exec:file getattr;
allow init dnsmasq_exec:file getattr;
allow init hostapd_exec:file getattr;
allow init idmap_exec:file getattr;
allow init ppp_exec:file getattr;
allow init profman_exec:file getattr;
allow init runas_exec:file getattr;
allow init sgdisk_exec:file getattr;
allow init userinit_exec:file getattr;
