allow mediaserver sysfs_camera:dir search;
allow mediaserver system_file:file execmod; # for libmmjpeg
allow mediaserver media_rw_data_file:file write;
