type qcom_power, domain;
type qcom_power_exec, exec_type, file_type;

init_daemon_domain(qcom_power)

# Allow to use dac_override & net_admin
allow qcom_power self:capability { dac_override net_admin };

# Allow setting freq_prop ro.min_freq_0 & ro.min_freq_4
set_prop(qcom_power, freq_prop)

# Allow writing to files in /sys
allow qcom_power sysfs:dir search;
allow qcom_power sysfs:file w_file_perms;

# Allow writing in /sys/devices/system/cpu
allow qcom_power sysfs_devices_system_cpu:dir search;
allow qcom_power sysfs_devices_system_cpu:file w_file_perms;

# Allow reading & writing in /sys/module/lowmemorykiller
allow qcom_power sysfs_lowmemorykiller:dir search;
allow qcom_power sysfs_lowmemorykiller:file rw_file_perms;

# Allow writing in /sys/module/lpm_levels
allow qcom_power sysfs_msm_power:dir search;
allow qcom_power sysfs_msm_power:file w_file_perms;

# Allow writing in /sys/module/process_reclaim
allow qcom_power sysfs_process_reclaim:dir search;
allow qcom_power sysfs_process_reclaim:file w_file_perms;

# Allow writing in sysfs_thermal /sys/module/msm_thermal
allow qcom_power sysfs_thermal:dir search;
allow qcom_power sysfs_thermal:file w_file_perms;

# Allow writing to files in /proc
allow qcom_power proc:dir search;
allow qcom_power proc:file w_file_perms;

# Allow reading /proc/meminfo
allow qcom_power proc_meminfo:file r_file_perms;

# Allow executing files in /system
allow qcom_power system_file:file rx_file_perms;

# Allow running init.qcom.power.sh
allow qcom_power vendor_shell_exec:file rx_file_perms;
allow qcom_power vendor_toolbox_exec:file rx_file_perms;
