allow toolbox bluetooth_prop:file { read open getattr };
allow toolbox init:fifo_file { write getattr open };
allow toolbox init:unix_stream_socket connectto;
allow toolbox property_socket:sock_file write;
allow toolbox self:capability { dac_override dac_read_search chown fowner fsetid };
allow toolbox sysfs:file { getattr setattr };
allow toolbox bluetooth_prop:property_service set;
allow toolbox ctl_qmuxd_prop:property_service set;
allow toolbox ctl_start_prop:property_service set;
allow toolbox exfat:dir search;
allow toolbox freq_prop:property_service set;
allow toolbox ipacm-diag_prop:property_service set;
allow toolbox ipacm_prop:property_service set;
allow toolbox perfd_prop:property_service set;
allow toolbox radio_data_file:dir { search getattr write read open create setattr remove_name add_name rmdir };
allow toolbox rmnet_mux_prop:file { read open getattr };
allow toolbox sysfs_leds:dir search;
allow toolbox system_prop:property_service set;
allow toolbox proc_meminfo:file { read open };
allow toolbox sysfs_lowmemorykiller:dir search ;
allow toolbox sysfs_lowmemorykiller:file { read open };
allow toolbox file_contexts_file:file { read getattr open };
