allow hal_memtrack_default hal_configstore_default:file { open read getattr };
allow hal_memtrack_default hal_light_default:file { open read getattr };
allow hal_memtrack_default hal_power_default:file { open read getattr };
allow hal_memtrack_default hal_power_default:dir { open read search };
allow hal_memtrack_default hal_keymaster_default:dir { open read search };
allow hal_memtrack_default hal_configstore_default:dir { open read search };
allow hal_memtrack_default hal_light_default:dir { open read search };
allow hal_memtrack_default hal_usb_default:file { open read getattr };
allow hal_memtrack_default hal_usb_default:dir { open read search };
allow hal_memtrack_default hal_vibrator_default:file { open read getattr };
allow hal_memtrack_default hal_vibrator_default:dir { open read search };
allow hal_memtrack_default servicemanager:file { open read getattr };
allow hal_memtrack_default system_app:file { open read getattr };
allow hal_memtrack_default system_app:dir { open read search };
allow hal_memtrack_default hal_keymaster_default:file { open read getattr };
allow hal_memtrack_default hwservicemanager:file { open read getattr };
allow hal_memtrack_default servicemanager:dir { open read search getattr };
allow hal_memtrack_default vndservicemanager:file { open read getattr };
allow hal_memtrack_default hwservicemanager:dir { open read search };
allow hal_memtrack_default vndservicemanager:dir { open read search };
