allow hal_keymaster_default kernel:system module_request;
allow hal_keymaster_default exfat:dir { search read };
allow hal_keymaster_default exfat:file { open read getattr };
