allow mediaserver sysfs_camera:dir search;
allow mediaserver sysfs_camera:file { getattr open read };
allow mediaserver camera_prop:property_service set;
allow mediaserver system_file:file execmod; # for libmmjpeg
allow mediaserver media_rw_data_file:file write;
allow mediaserver kernel:system module_request;
allow mediaserver init:unix_dgram_socket sendto;
allow mediaserver system_data_file:sock_file write;
allow mediaserver device:dir { open read };
allow mediaserver hal_lineage_camera_motor_hwservice:hwservice_manager find;
