allow vendor_init bluetooth_data_file:dir setattr;
allow vendor_init bluetooth_data_file:file setattr;
allow vendor_init camera_data_file:dir setattr;
allow vendor_init dhcp_data_file:dir setattr;
allow vendor_init system_data_file:dir { setattr write add_name create remove_name };
allow vendor_init system_data_file:file { getattr setattr open read write };
allow vendor_init system_data_file:lnk_file { unlink create };
allow vendor_init audio_data_file:dir { setattr };
allow vendor_init bluetooth_data_file:file setattr;
allow vendor_init radio_data_file:dir { search create };
allow vendor_init radio_data_file:file { setattr write open };
allow vendor_init exfat:dir search;
allow vendor_init proc:file write;
allow vendor_init unlabeled:dir setattr;
allow vendor_init selinuxfs:file write;
allow vendor_init unlabeled:file setattr;
allow vendor_init kernel:security { check_context setenforce };
